# **Sequences**
## Assignment: List Operations
### Create a List the customers who made purchases

The customers who made purchases:
C00001, C00003, C00004, C00005, C00006, C00007, C00018, C00010, C00013, C00014, C00015, C00016 and C00029

Call the list `clist`.

In [123]:
clist=['C00001', 'C00003', 'C00004', 'C00005', 'C00006', 'C00007', 'C00018', 'C00010', 'C00013', 'C00014', 'C00015', 'C00016', 'C00029']
clist

['C00001',
 'C00003',
 'C00004',
 'C00005',
 'C00006',
 'C00007',
 'C00018',
 'C00010',
 'C00013',
 'C00014',
 'C00015',
 'C00016',
 'C00029']

### Did C00009 make a purchase?

The customer, C00009 claimed to have made a purchase but the data is not displaying. If inded true, the revenue must be recorded.
Write code that returns 99.99 if C00009 is in the list. If not, return 0.0.

In [124]:
if 'C00009' in clist:
    print(f'99.99 | Yes! He purchased that!')
else:
    print(f'0.0')

0.0

### Market Research Samples

1. Using slicing, create a list containing the 5th and 6th customer in the list called `fs`.

In [125]:
fs=clist[4:6]
fs

['C00006', 'C00007']

2. Create a list called `et` that contains every third customer in the list (1st, 4rd, 7th, and so on...).

In [126]:
et=clist[::3]    #starts from 0, empty : means all included increment is 2
et

['C00001', 'C00005', 'C00018', 'C00014', 'C00029']

3. Finally, using slicing, create a list with the last two customers in our dataset, called `lt`.

In [127]:
lt=clist[-2::1]
lt

['C00016', 'C00029']

___
## Assignment: Adding List Elements
### Updated Customer Lists
Add customer 'C00009' to `clist`. Below is the original `clist`.

In [128]:
clist = [
    'C00001', 'C00003', 'C00004','C00005', 'C00006', 
    'C00007', 'C00008', 'C00010', 'C00013', 'C00014', 
    'C00015', 'C00016', 'C00020'
]

In [129]:
clist.insert(8, 'C00009')   #adds after the specified number
clist.append('C00009Xtra')  # adds in the end
print(clist)

['C00001', 'C00003', 'C00004', 'C00005', 'C00006', 'C00007', 'C00008', 'C00010', 'C00009', 'C00013', 'C00014', 'C00015', 'C00016', 'C00020', 'C00009Xtra']

In [130]:
# Alternative method with .insert()

print(clist)

['C00001', 'C00003', 'C00004', 'C00005', 'C00006', 'C00007', 'C00008', 'C00010', 'C00009', 'C00013', 'C00014', 'C00015', 'C00016', 'C00020', 'C00009Xtra']

### Adding Saturday Customers
Add the customers from `satlist` to `clist` below.

In [131]:
satlist = [
    'C00004', 'C00017', 'C00019', 'C00002', 'C00008',
    'C00021', 'C00022'
]

In [132]:
clist=clist+satlist

print(clist)

['C00001', 'C00003', 'C00004', 'C00005', 'C00006', 'C00007', 'C00008', 'C00010', 'C00009', 'C00013', 'C00014', 'C00015', 'C00016', 'C00020', 'C00009Xtra', 'C00004', 'C00017', 'C00019', 'C00002', 'C00008', 'C00021', 'C00022']

___
## Assignment: Removing List Elements
### Updated Customer Lists (Final Update)
Below is the full `clist`. Remove the Saturday customers from the `clist`(the final 7 customers)

In [133]:
# run this cell to recreate the list
clist = [
    'C00001', 'C00003', 'C00004', 'C00005', 'C00006',
    'C00007', 'C00008', 'C00009', 'C00010', 'C00013', 
    'C00014', 'C00015', 'C00016', 'C00020', 'C00004', 
    'C00017', 'C00019', 'C00002', 'C00008', 'C00021',
    'C00022'
]

In [134]:
del clist[-7:]
print(clist)

['C00001', 'C00003', 'C00004', 'C00005', 'C00006', 'C00007', 'C00008', 'C00009', 'C00010', 'C00013', 'C00014', 'C00015', 'C00016', 'C00020']

### Delete a list object
Please remove customer 'C00004' from the above list.

In [135]:

clist.remove('C00004')

print(clist)

['C00001', 'C00003', 'C00005', 'C00006', 'C00007', 'C00008', 'C00009', 'C00010', 'C00013', 'C00014', 'C00015', 'C00016', 'C00020']

___
## Assignment: List Functions & Methods
### Customer Data
A compiled lists of customers' data in `custids` and `subtotals`, the amount before tax below.

In [136]:
custids = [
    'C00004', 'C00007', 'C00015', 'C00016', 'C00020',
    'C00010', 'C00006', 'C00001', 'C00003', 'C00014',
    'C00001', 'C00001', 'C00005', 'C00008', 'C00013',
    'C00004', 'C00017', 'C00019', 'C00002', 'C00008',
    'C00021', 'C00022', 'C00006', 'C00018', 'C00018',
    'C00010', 'C00016'
]

subtotals = [
    15.98, 899.97, 799.97, 117.96, 5.99,
    599.99, 24.99, 1799.94, 99.99, 254.95,
    29.98, 99.99, 25.98, 649.98, 89.99,
    119.99, 599.99, 649.98, 24.99, 99.99,
    99.99, 5.99, 24.99, 999.96, 99.99,
    399.97, 89.99
]

### Calculate the Average Transaction
Calculate the average value of the transactions in the list `subtotals`.
Note: use sum() and len() to complete the task.

In [137]:
avg=sum(subtotals)/len(subtotals)
avg
print(f'Average is: {avg: .2f}')

Average is:  323.39

### Finding specific information
Find the number of transaction that the customer C00010 make.

In [138]:
transaction_count = custids.count('C00006')


print(f"Customer C00006 made {transaction_count} transactions.")

Customer C00006 made 2 transactions.

What is the index of customer C00010's first transaction?

In [139]:
custids.index('C00010')

5

In [165]:
custids.index('C00010',6)

first_ind=custids.index('C00010')

custids.index('C00010', first_ind+1) #2nd transaction

25

What is the revenue of C00010's first transaction? 
Note: Use index `subtotals` and also the index used in the above question.

In [141]:
first_trans_revenue=subtotals[first_ind]

print(f"The revenue of customer C00010's first transaction is: {first_trans_revenue}")

The revenue of customer C00010's first transaction is: 599.99

### Print a sorted list of customer ID's.
Use sorted() function to avoid changing the list, `custids`.

In [142]:
sorted(custids)

['C00001',
 'C00001',
 'C00001',
 'C00002',
 'C00003',
 'C00004',
 'C00004',
 'C00005',
 'C00006',
 'C00006',
 'C00007',
 'C00008',
 'C00008',
 'C00010',
 'C00010',
 'C00013',
 'C00014',
 'C00015',
 'C00016',
 'C00016',
 'C00017',
 'C00018',
 'C00018',
 'C00019',
 'C00020',
 'C00021',
 'C00022']

___
## Assignment: Nested Lists & Copying
### Multi Order Customers
Below are lists of transactions made by customers with multiple orders.

In [143]:
orders_c00001 = [1799.94, 29.98, 99.99]
orders_c00004 = [15.98, 119.99]
orders_c00006 = [24.99, 24.99]
orders_c00008 = [649.99, 99.99]
orders_c00010 = [599.99, 399.97]

### VIP List 
Create a nested list where each element is one of the customer transaction lists above, called `viplist`

In [144]:
viplist=[orders_c00001, orders_c00004, orders_c00006, orders_c00008, orders_c00010]
viplist[::]

[[1799.94, 29.98, 99.99],
 [15.98, 119.99],
 [24.99, 24.99],
 [649.99, 99.99],
 [599.99, 399.97]]

Report the 2nd and 3rd transactions made by the customer C00001.

In [166]:
spec=orders_c00001[1::]
spec

print("spec:", spec)

spec: [29.98, 99.99]

### Revenue Adjusted List
Make a copy of the `viplist` so that any changes will not be reflected in the original.
Name the copy `alist`.

In [146]:
alist = viplist.copy()

alist

[[1799.94, 29.98, 99.99],
 [15.98, 119.99],
 [24.99, 24.99],
 [649.99, 99.99],
 [599.99, 399.97]]

For the copied list, change both of customer C00004's transaction values to 0.0.

In [147]:
from copy import deepcopy

alist

transactions_copy = deepcopy(alist)
transactions_copy[1] = [0.0, 0.0]

print("Copied transactions of C00004:", transactions_copy)

Copied transactions of C00004: [[1799.94, 29.98, 99.99], [0.0, 0.0], [24.99, 24.99], [649.99, 99.99], [599.99, 399.97]]

In [148]:
# Confirm the original list has not been changed 
viplist

[[1799.94, 29.98, 99.99],
 [15.98, 119.99],
 [24.99, 24.99],
 [649.99, 99.99],
 [599.99, 399.97]]

___
## Assignment: Tuples
### Sales Tax
Calculate the sales taxes for any customer who made 3 transactions in `m` below (Note: Only customer C00001). 

Run below cell to create the list.

In [149]:
m = [
    [1799.94, 29.98, 99.99],
    [15.98, 119.99],
    [24.99, 24.99],
    [649.99, 99.99],
    [599.99, 399.97]
]

Create a tuple from the 1st element in the `m`.

Unpack this tuple into the variables `t1`, `t2`, and `t3`.

Once the transactions are separated, calculate the tax of 0.08 rounded to 2 decimals and print it.

In [150]:
customer_C00001_tuple = tuple(m[0])

t1, t2, t3 = customer_C00001_tuple

print(round(t1*0.08,2))
print(round(t2*0.08,2))
print(round(t3*0.08,2))

t1, t2, t3

144.0
2.4
8.0

(1799.94, 29.98, 99.99)

___
## Assignment: Ranges
### Customer Promotions
Below are some generation of a few different sequences to represent lucky numbers for customers to receive gifts in keychain, coffee mug, or beanie.

1st sequence generation: Even integers between 1 and 10 to represent those customers who will be receiving coffee mugs.

In [167]:
lucky = range(2, 11, 2)

list(lucky)

[2, 4, 6, 8, 10]

2nd sequence generation: Odd integers from 1 and 10 to represent those customers who will be receiving keychains.

In [159]:
lucky = range(1, 10, 2)

list(lucky)

[1, 3, 5, 7, 9]

3rd sequence generation: Integers containing multiples of 7 from 1 to 100 to represent those customers who will be receiving a beanie.

In [163]:
lucky = range(7, 100, 7)

list(lucky)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

___