# **Loops**
## Assignment: For Loops
### Applying Sales Tax
Last weekend the system went down and there was no calculator on site, so the customers have been told that taxes will be charged at a later stage.  The transactions are below.

In [ ]:
subtotals = [15.98, 899.97, 799.97, 117.96, 5.99, 599.99, 24.99, 1799.94, 99.99]

Apply sales tax to all of the transactions.

The tax rate is 8%. 

After the taxes are calculated, add them to the transaction subtotals and calculate the the total invoice value.

The code below should produce two lists:
* `taxes`:The first should be a list of the tax amounts on each transaction, rounded to the nearest 0.01.
* `totals`: The second should be a list where each element is subtotal[i] + tax[i]

In [1]:
subtotals = [15.98, 899.97, 799.97, 117.96, 5.99, 599.99, 24.99, 1799.94, 99.99]
taxes = []
totals = []
# Develop a for loop code to calculate the tax and totals
# tax = round(subtotal * 0.08, 2)
# total = round(subtotal + tax, 2)



print(taxes)
print(totals)

[1.28, 72.0, 64.0, 9.44, 0.48, 48.0, 2.0, 144.0, 8.0]
[17.26, 971.97, 863.97, 127.4, 6.47, 647.99, 26.99, 1943.94, 107.99]

___
## Assignment: Enumerate
### Sales Tax by State
The loop from above needs to be modify to account for various tax rates in different states. Below is a list containing the location of each purchase. The transaction `subtotal[i]` took place at `loc[i]`.

In [5]:
subtotals = [15.98, 899.97, 799.97, 117.96, 5.99, 599.99, 24.99, 1799.94, 99.99]
loc = ['Sun Valley', 'Stowe', 'Mammoth', 'Stowe', 'Sun Valley', 'Mammoth','Mammoth', 'Mammoth', 'Sun Valley']

The following tax rates should be applied for each location:
* Sun Valley: 8%
* Stowe: 6%
* Mammoth: 7.75%

In [6]:
taxes = []
totals = []




print(taxes)
print(totals)

[1.28, 54.0, 62.0, 7.08, 0.48, 46.5, 1.94, 139.5, 8.0]
[17.26, 953.97, 861.97, 125.04, 6.47, 646.49, 26.93, 1939.44, 107.99]

___
## Assignment: While Loops
### Calculate Projected Inventory for Each Month

Currently there are 686 pairs of skis in inventory, and sales of 84 each month.

Write a program to keep track of monthly inventory, by subtracting 84 pairs of skis from inventory each month. 

The program should print 'At the end of month x, inventory = y ski pairs', where x is the number of months that has gone by and y is the remaining inventory at that month.

The program should exit if inventory goes negative.

In [7]:
inv = 686
ms = 84
m=0

At the end of month 1, inventory = 602 ski pairs
At the end of month 2, inventory = 518 ski pairs
At the end of month 3, inventory = 434 ski pairs
At the end of month 4, inventory = 350 ski pairs
At the end of month 5, inventory = 266 ski pairs
At the end of month 6, inventory = 182 ski pairs
At the end of month 7, inventory = 98 ski pairs
At the end of month 8, inventory = 14 ski pairs

___
## Assignment: Nested Loops
### Apply Discount Prices for Multi-Order Customers
Apply a 10% discount to every transaction in the list below.
Assign the discounted prices to a new list: `dp`.

In [8]:
orders_c00001 = [1799.94, 29.98, 99.99]
orders_c00004 = [15.98, 119.99]
orders_c00006 = [24.99, 24.99]
orders_c00008 = [649.99, 99.99]
orders_c00010 = [599.99, 399.97]

m = [
    [1799.94, 29.98, 99.99],
    [15.98, 119.99],
    [24.99, 24.99],
    [649.99, 99.99],
    [599.99, 399.97]
]
m

[[1799.94, 29.98, 99.99],
 [15.98, 119.99],
 [24.99, 24.99],
 [649.99, 99.99],
 [599.99, 399.97]]

In [9]:
dp = []

dp

[[1619.95, 26.98, 89.99],
 [14.38, 107.99],
 [22.49, 22.49],
 [584.99, 89.99],
 [539.99, 359.97]]

___
## Assignment: Loop Control
### Improved Affordability Calculator.

Make changes to the codes below (to make sure the affordability calculator can handle many data types without stopping since the data is messy). 

Make sure the following changes are included:
* Converts the string in the list into a float. Print a warning ('String Data Detected') for any string data.
* Skip any instances of None data type (use the continue method)
* Remove the generic except statement ('That is not a number') to avoid processing errors.
* Create a variable for budget = 50 to replace the hard coded value of 50.

In [11]:
prices = [5.99, None, 19.99, 24.99, 0, '74.99', 99.99]

# loop to calculate how many of each item I can buy

I can buy 8.0 of these.
That is not a number
I can buy 2.0 of these.
I can buy 2.0 of these.
This product is free.
That is not a number
I can buy 0.0 of these.

In [15]:
prices = [5.99, None, 19.99, 24.99, 0, '74.99', 99.99]
budget=50

I can buy 8.0 of these.
Pass
I can buy 2.0 of these.
I can buy 2.0 of these.
This product is free.
String Data Detected
I can buy 0.0 of these.
I can buy 0.0 of these.

___