# **Dictionary & Sets**
## Assignment: Dictionary Basics
### Snack Dictionary
Below is the current snack dictionary. Run this first cell to create the `snacks` dictionary.

In [1]:
snacks = {
    'Sally': 'Popcorn',
    'Ricard': 'Chocolate Ice Cream',
    'Stuart': 'Apple Pie',
    'Jerry': 'Raisins',
    'Sierra': 'Peanut Butter Cookies'
}

Print Stuart's favorite snack

In [2]:
snacks['Stuart']

'Apple Pie'

Make the following changes do the dictionary:
* Add 'Alfie' and his favorite snack, 'Cheese and Crackers'.
* Change Jerry's favorite snack to 'Fig Bars'.
* Remove Sierra.

In [3]:
# key-value pair addition

# Value reassignment

# key-value pair removal

snacks

{'Sally': 'Popcorn',
 'Ricard': 'Chocolate Ice Cream',
 'Stuart': 'Apple Pie',
 'Jerry': 'Fig Bar',
 'Alfie': 'Cheese and Crackers'}

___
## Assignment: Dictionary Creation
### Inventory Status
Both products and inventory levels are in the lists below.
Run the cell below to create the lists.

In [10]:
items = ['skis', 'snowboard', 'goggles', 'boots']
inv = [10, 0, 0, 7]

### Inventory Status Dictionary
Create a dictionary:
* To store item name as keys
* To print 'sold out' for inventory value = 0, and 'in stock' if not?

In [12]:
# Hints:
# Create empty dictionary
# Use enumerate to grab index and elements of items
# Use conditional logic to create dictionary entry
# Based on values of inventory
dict = {}


dict

{'skis': 'in stock',
 'snowboard': 'sold out',
 'goggles': 'sold out',
 'boots': 'in stock'}

___
## Assignment: Dictionary Methods
### Help with European Data
Run the cell below to create the product dictionary, `prod`.

In [15]:
prod = {
    10001: ('Coffee', 5.99, 'beverage', ['250mL']),
    10002: ('Beanie', 9.99, 'clothing', ['Child', 'Adult']),
    10003: ('Gloves', 19.99, 'clothing', ['Child', 'Adult']),
    10004: ('Sweatshirt', 24.99, 'clothing', ['XS', 'S', 'M', 'L', 'XL', 'XXL']),
    10005: ('Helmet', 99.99, 'safety', ['Child', 'Adult']),
    10006: ('Snow Pants', 79.99, 'clothing', ['XS', 'S', 'M', 'L', 'XL', 'XXL']),
    10007: ('Coat', 119.99, 'clothing', ['S', 'M', 'L']),
    10008: ('Ski Poles', 99.99, 'hardware', ['S', 'M', 'L']),
    10009: ('Ski Boots', 199.99, 'hardware', [5, 6, 7, 8, 9, 10, 11])
}

### Size Counts
Create a new dictionary, called `sc`, with the item numbers in `prod` as keys, and the number of sizes available for each item as the values. 

Sizes are stored in lists at the end of each 'row' of data. Key 10001 has a list with one size, 250ml at the end.

In [16]:
sc = {}


print(sc)

{10001: 1, 10002: 2, 10003: 2, 10004: 6, 10005: 2, 10006: 6, 10007: 3, 10008: 3, 10009: 7}

### New Size Options
Update by adding two products to `sc`:
* Item 10010 has 4 sizes.
* Item 10011 has 7 possible sizes.

In [17]:
new={10010:4, 10011:7}


print(sc)

{10001: 1, 10002: 2, 10003: 2, 10004: 6, 10005: 2, 10006: 6, 10007: 3, 10008: 3, 10009: 7, 10010: 4, 10011: 7}

### Euro Pricing
Extract the prices from `prod` and create a list with converted Euro pricing. Use an exchange rate of 0.88.

In [20]:
ex = 0.88
ep = []


ep

[5.27, 8.79, 17.59, 21.99, 87.99, 70.39, 105.59, 87.99, 175.99]

___
## Assignment: Zip()
### European Item Dictionary
Create a European price dictionary by running the cell below.

In [16]:
# Data for dictionary 
ids = [10001, 10002, 10003, 10004, 10005, 10006, 10007, 10008, 10009]
names = ["Coffee", "Beanie", "Gloves", "Sweatshirt", "Helmet", "Snow Pants", "Coat", "Ski Poles", "Ski Boots"]
euros = [5.27, 8.79, 17.59, 21.99, 87.99, 70.39, 105.59, 87.99, 175.99]
cat = ["beverage", "clothing", "clothing", "clothing", "safety", "clothing", "clothing", "hardware", "hardware"]
sizes = [
    ["250mL"],
    ["Child", "Adult"],
    ["Child", "Adult"],
    ["XS", "S", "M", "L", "XL", "XXL"],
    ["Child", "Adult"],
    ["XS", "S", "M", "L", "XL", "XXL"],
    ["S", "M", "L"],
    ["S", "M", "L"],
    [5, 6, 7, 8, 9, 10, 11]
]

Create a new dictionary, called `ei`, with the `ids` as keys and the rest of the data as values. 

The values must be in the order of `names`,`euros`, `cat`, `sizes`.

In [17]:
# Double zip: One for the dictionary keys and one for the dictionary values


ei

{10001: ('Coffee', 5.27, 'beverage', ['250mL']),
 10002: ('Beanie', 8.79, 'clothing', ['Child', 'Adult']),
 10003: ('Gloves', 17.59, 'clothing', ['Child', 'Adult']),
 10004: ('Sweatshirt', 21.99, 'clothing', ['XS', 'S', 'M', 'L', 'XL', 'XXL']),
 10005: ('Helmet', 87.99, 'safety', ['Child', 'Adult']),
 10006: ('Snow Pants', 70.39, 'clothing', ['XS', 'S', 'M', 'L', 'XL', 'XXL']),
 10007: ('Coat', 105.59, 'clothing', ['S', 'M', 'L']),
 10008: ('Ski Poles', 87.99, 'hardware', ['S', 'M', 'L']),
 10009: ('Ski Boots', 175.99, 'hardware', [5, 6, 7, 8, 9, 10, 11])}

___
## Assignment: Nested Dictionaries
### New European Dictionary
Below is the new structure for the European data (a nested dictionary). Run the following two cells to create the new data.

In [18]:
ids = [
    10001, 10002, 10003, 10004, 10005, 
    10006, 10007, 10008, 10009
]
names = [
    "Coffee", "Beanie", "Gloves", "Sweatshirt", "Helmet",
    "Snow Pants", "Coat", "Ski Poles", "Ski Boots"
]
euros = [
    5.27, 8.79, 17.59, 21.99, 87.99, 
    70.39, 105.59, 87.99, 175.99
]
cat = [
    "beverage", "clothing", "clothing", "clothing", "safety",
    "clothing", "clothing", "hardware", "hardware",
]
sizes = [
    ["250mL"],
    ["Child", "Adult"],
    ["Child", "Adult"],
    ["XS", "S", "M", "L", "XL", "XXL"],
    ["Child", "Adult"],
    ["XS", "S", "M", "L", "XL", "XXL"],
    ["S", "M", "L"],
    ["S", "M", "L"],
    [5, 6, 7, 8, 9, 10, 11],
    ["S", "M", "L"],
    [5, 6, 7, 8, 9, 10, 11],
    ["NA"],
    ["S", "M", "L", "Powder"],
]

In [20]:
# Note: this is a dictionary comprension - this syntax will be covered in the next section
eurodata = 

eurodata

{10001: {'name': 'Coffee',
  'price': 5.27,
  'category': 'beverage',
  'sizes': ['250mL']},
 10002: {'name': 'Beanie',
  'price': 8.79,
  'category': 'clothing',
  'sizes': ['Child', 'Adult']},
 10003: {'name': 'Gloves',
  'price': 17.59,
  'category': 'clothing',
  'sizes': ['Child', 'Adult']},
 10004: {'name': 'Sweatshirt',
  'price': 21.99,
  'category': 'clothing',
  'sizes': ['XS', 'S', 'M', 'L', 'XL', 'XXL']},
 10005: {'name': 'Helmet',
  'price': 87.99,
  'category': 'safety',
  'sizes': ['Child', 'Adult']},
 10006: {'name': 'Snow Pants',
  'price': 70.39,
  'category': 'clothing',
  'sizes': ['XS', 'S', 'M', 'L', 'XL', 'XXL']},
 10007: {'name': 'Coat',
  'price': 105.59,
  'category': 'clothing',
  'sizes': ['S', 'M', 'L']},
 10008: {'name': 'Ski Poles',
  'price': 87.99,
  'category': 'hardware',
  'sizes': ['S', 'M', 'L']},
 10009: {'name': 'Ski Boots',
  'price': 175.99,
  'category': 'hardware',
  'sizes': [5, 6, 7, 8, 9, 10, 11]}}

### Lookup Data
Check the price for item 10009.

175.99

### European Sizes
Change the size for the boots (item 10009) to European shoe sizing. The European sizes are shown in a list below.

In [23]:
bsizes = [37, 38, 39.5, 40.5, 41.5, 43.5, 44.5, 46.5]


eurodata

{10001: {'name': 'Coffee',
  'price': 5.27,
  'category': 'beverage',
  'sizes': ['250mL']},
 10002: {'name': 'Beanie',
  'price': 8.79,
  'category': 'clothing',
  'sizes': ['Child', 'Adult']},
 10003: {'name': 'Gloves',
  'price': 17.59,
  'category': 'clothing',
  'sizes': ['Child', 'Adult']},
 10004: {'name': 'Sweatshirt',
  'price': 21.99,
  'category': 'clothing',
  'sizes': ['XS', 'S', 'M', 'L', 'XL', 'XXL']},
 10005: {'name': 'Helmet',
  'price': 87.99,
  'category': 'safety',
  'sizes': ['Child', 'Adult']},
 10006: {'name': 'Snow Pants',
  'price': 70.39,
  'category': 'clothing',
  'sizes': ['XS', 'S', 'M', 'L', 'XL', 'XXL']},
 10007: {'name': 'Coat',
  'price': 105.59,
  'category': 'clothing',
  'sizes': ['S', 'M', 'L']},
 10008: {'name': 'Ski Poles',
  'price': 87.99,
  'category': 'hardware',
  'sizes': ['S', 'M', 'L']},
 10009: {'name': 'Ski Boots',
  'price': 175.99,
  'category': 'hardware',
  'sizes': [37, 38, 39.5, 40.5, 41.5, 43.5, 44.5, 46.5]}}

### Size Dictionary
Create a new dictionary, called `ps`, with item names as keys, and sizes (in lists) as the values.

In [26]:
ps={}


ps

{'Coffee': ['250mL'],
 'Beanie': ['Child', 'Adult'],
 'Gloves': ['Child', 'Adult'],
 'Sweatshirt': ['XS', 'S', 'M', 'L', 'XL', 'XXL'],
 'Helmet': ['Child', 'Adult'],
 'Snow Pants': ['XS', 'S', 'M', 'L', 'XL', 'XXL'],
 'Coat': ['S', 'M', 'L'],
 'Ski Poles': ['S', 'M', 'L'],
 'Ski Boots': [37, 38, 39.5, 40.5, 41.5, 43.5, 44.5, 46.5]}

___
## Assignment: Sets
### Product Category Analysis
Below is the code to create the European item dictionary. Run the following cell to recreate the data.

In [27]:
ids = [10001, 10002, 10003, 10004, 10005, 10006, 10007, 10008, 10009]
names = ["Coffee", "Beanie", "Gloves", "Sweatshirt", "Helmet", "Snow Pants", "Coat", "Ski Poles", "Ski Boots"]
euros = [5.27, 8.79, 17.59, 21.99, 87.99, 70.39, 105.59, 87.99, 175.99]
cat = ["beverage", "clothing", "clothing", "clothing", "safety", "clothing", "clothing", "hardware", "hardware"]
sizes = [
    ["250mL"],
    ["Child", "Adult"],
    ["Child", "Adult"],
    ["XS", "S", "M", "L", "XL", "XXL"],
    ["Child", "Adult"],
    ["XS", "S", "M", "L", "XL", "XXL"],
    ["S", "M", "L"],
    ["S", "M", "L"],
    [5, 6, 7, 8, 9, 10, 11],
    ["S", "M", "L"],
    [5, 6, 7, 8, 9, 10, 11],
    ["NA"],
    ["S", "M", "L", "Powder"]
]

### Unique Categories
Create a new dictionary `ei` by zipping the data above.

In [29]:
ei=

ei

{10001: ('Coffee', 5.27, 'beverage', ['250mL']),
 10002: ('Beanie', 8.79, 'clothing', ['Child', 'Adult']),
 10003: ('Gloves', 17.59, 'clothing', ['Child', 'Adult']),
 10004: ('Sweatshirt', 21.99, 'clothing', ['XS', 'S', 'M', 'L', 'XL', 'XXL']),
 10005: ('Helmet', 87.99, 'safety', ['Child', 'Adult']),
 10006: ('Snow Pants', 70.39, 'clothing', ['XS', 'S', 'M', 'L', 'XL', 'XXL']),
 10007: ('Coat', 105.59, 'clothing', ['S', 'M', 'L']),
 10008: ('Ski Poles', 87.99, 'hardware', ['S', 'M', 'L']),
 10009: ('Ski Boots', 175.99, 'hardware', [5, 6, 7, 8, 9, 10, 11])}

### Display unique categories and the number of unique categories.

In [30]:
cat=[]


print(set(cat))

{'safety', 'clothing', 'beverage', 'hardware'}

In [32]:
# Alternative method: Using the .add() method to add values directly onto empty set
cat = set()


print(cat)

{'safety', 'clothing', 'beverage', 'hardware'}

In [33]:
# Number of unique categories

4

In [35]:
# Check whether 'outdoor' is in the set of categories.

False

___
## Assignment: Set Operations
### Weekend Sales Follow-Up Analysis
Below are three lists representing the customers who made purchases on Friday, Saturday, and Sunday. Customers who made purchases on Friday and either Saturday or Sunday are targeted with follow up promotions.

First, run the cell below to create the customer lists.

In [36]:
fri = [
    'C00004', 'C00007', 'C00015', 'C00016', 'C00020',
    'C00010', 'C00006', 'C00001', 'C00003', 'C00014',
    'C00001', 'C00001', 'C00005', 'C00008', 'C00013'
]
sat = ['C00004', 'C00017', 'C00019', 'C00002', 'C00008','C00021', 'C00022']
sun = ['C00006', 'C00018', 'C00018', 'C00010', 'C00016']

#### Collect Unique Weekend Customers
Create a set called `wkend` to show all the unique customers from the weekend (`sat` and `sun`).

In [37]:
wkend=
wkend

{'C00002',
 'C00004',
 'C00006',
 'C00008',
 'C00010',
 'C00016',
 'C00017',
 'C00018',
 'C00019',
 'C00021',
 'C00022'}

#### Friday Customers Who Came Back During the Weekend
Based on the above, find those customers who made a purchase on Friday AND made a purchase during the weekend.

In [39]:
# Customers who purchased on Friday AND on weekend (intersection between Friday and Weekend Sets)

{'C00004', 'C00006', 'C00008', 'C00010', 'C00016'}

___