# **Functions**
## Assignment: Defining A Function
#### Tax Calculator
Write a function that takes a subtotal and a tax rate and returns the total invoice amount.
* Tax is equal to subtotal multiplied by the tax rate.
* The total is equal to subtotal plus tax.

In [89]:
%%writefile tc.py

def tc(subtotal): 
    tax = round(subtotal * 0.06, 2)  # Calculate tax (6%)
    total = round(subtotal + tax, 2) # Calculate total
    return [subtotal, tax, total]    # Return the values as a list

Overwriting tc.py

In [90]:
def tc(subt, tax_rate):
    tax=subt*tax_rate
    total=subt+tax
    return total

subt = 100
tax_rate = 0.06
total = tc(subt, tax_rate)

total

106.0

In [91]:
# tc(100,0.06)

___
## Assignment: Creating A Module
### A Modified Tax Calculator
Define a tax calculator below with a default tax rate of 6%. 
The output of the function must return a list containing the subtotal, tax, and totals.

In [92]:

%%writefile test.py
print("Hello from test.py!")

#haha

Overwriting test.py

In [93]:
from tc import tc

tc(subt)

[100, 6.0, 106.0]

___
## Assignment: Importing A Module
### Using the tax calculator!
Import the tax calculator module.

In [94]:
from tc import tc

#### Processing Transactions
Apply the tax calculator to the list of subtotals below.

Create a new list, `ft` where it stores all of the results returned from the tax calculator. Use the default tax rate for each transaction.

In [95]:
from tc import tc
subtotals = [15.98, 899.97, 799.97, 117.96, 5.99, 599.99]
ft = []

ft = [tc(subtotal) for subtotal in subtotals]

ft

[[15.98, 0.96, 16.94],
 [899.97, 54.0, 953.97],
 [799.97, 48.0, 847.97],
 [117.96, 7.08, 125.04],
 [5.99, 0.36, 6.35],
 [599.99, 36.0, 635.99]]

#### Transaction Dictionary
Combine the transactions (from above) with the `cids` below into a dictionary.

`cids` should stored as keys and the transactions as values.

In [96]:
cid = ['C00004', 'C00007', 'C00015', 'C00016', 'C00020', 'C00010']

cdict = {
    jack: [round(v[0], 2), round(v[1], 2), round(v[2], 2)] for jack, v in zip(cid, ft)
}

cdict

{'C00004': [15.98, 0.96, 16.94],
 'C00007': [899.97, 54.0, 953.97],
 'C00015': [799.97, 48.0, 847.97],
 'C00016': [117.96, 7.08, 125.04],
 'C00020': [5.99, 0.36, 6.35],
 'C00010': [599.99, 36.0, 635.99]}

___
## Assignment: Map()
### Mapping the tax calculator
Apply the working tax calculator to the subtotals below. Note: Do not create any f-loop iterations.

In [97]:
from tc import tc
subtotals = [1799.94, 99.99, 254.95, 29.98, 99.99]


# do not use this f loop ft = [tc(subtotal) for subtotal in subtotals]


jasur = list(map(tc, subtotals))

print(f'Answer: {jasur}')

Answer: [[1799.94, 108.0, 1907.94], [99.99, 6.0, 105.99], [254.95, 15.3, 270.25], [29.98, 1.8, 31.78], [99.99, 6.0, 105.99]]

___
## Assignment: Lambda Functions
### Apply A Special Discount
Apply a 10% discount for customers who purchased more than 500 dollars worth of product.

Store the new prices in a list called `dis`.

In [98]:
subtotals = [15.98, 899.97, 799.97, 117.96, 5.99, 599.99]
dis = list(map(lambda x: round(x * 0.9, 2) if x > 500 else x, subtotals))

dis

[15.98, 809.97, 719.97, 117.96, 5.99, 539.99]

___
## Assignment: List Comprehension
### Total Cost of European Items
Below is the code to recreate the European item dictionary. Run the cells below, then follow the instructions below.

In [99]:
ids = [10001, 10002, 10003, 10004, 10005, 10006, 10007, 10008, 10009]
names = ["Coffee", "Beanie", "Gloves", "Sweatshirt", "Helmet", "Snow Pants", "Coat", "Ski Poles", "Ski Boots"]
euros = [5.27, 8.79, 17.59, 21.99, 87.99, 70.39, 105.59, 87.99, 175.99]
cat = ["beverage", "clothing", "clothing", "clothing", "safety", "clothing", "clothing", "hardware", "hardware"]
sizes = [
    ["250mL"],
    ["Child", "Adult"],
    ["Child", "Adult"],
    ["XS", "S", "M", "L", "XL", "XXL"],
    ["Child", "Adult"],
    ["XS", "S", "M", "L", "XL", "XXL"],
    ["S", "M", "L"],
    ["S", "M", "L"],
    [5, 6, 7, 8, 9, 10, 11],
    ["S", "M", "L"],
    [5, 6, 7, 8, 9, 10, 11],
    ["NA"],
    ["S", "M", "L", "Powder"],
]

In [100]:
# Dictionary comprehension (See the next section)

data = {id: (name, euro, category) for id, name, euro, category in zip(ids, names, euros, cat)}
print(data)

eurodata = [info[1] for info in data.values()]
eurodata

{10001: ('Coffee', 5.27, 'beverage'), 10002: ('Beanie', 8.79, 'clothing'), 10003: ('Gloves', 17.59, 'clothing'), 10004: ('Sweatshirt', 21.99, 'clothing'), 10005: ('Helmet', 87.99, 'safety'), 10006: ('Snow Pants', 70.39, 'clothing'), 10007: ('Coat', 105.59, 'clothing'), 10008: ('Ski Poles', 87.99, 'hardware'), 10009: ('Ski Boots', 175.99, 'hardware')}

[5.27, 8.79, 17.59, 21.99, 87.99, 70.39, 105.59, 87.99, 175.99]

### Calculate the Total Cost of Items
Calculate the amount it would cost to purchase all the items in `eurodata`. Use list comprehension to extract the item prices.

In [101]:
# Use a list comprehension to extract the second object in each dictionary entries values then sum
eurodata = [item[1] for item in data.values()]

eurodata_sum=sum(eurodata)

print(f'Total cost: {eurodata_sum} EUR')

Total cost: 581.59 EUR

___
## Assignment: Dictionary Comprehension
### Transaction Dictionary Creator
Some final updates to the tax calculator function.

In [102]:
# Step 1: Define the function, tc
# Pass in a object value (subtotal) from the list, subtotals, as arguements
# Pass in the tax rate
# Return 3 values in a list: [subtotal, tax, total]



from tc_dynamic import tc

cid = ['C00004', 'C00007', 'C00015', 'C00016', 'C00020', 'C00010']
subtotals = [15.98, 899.97, 799.97, 117.96, 5.99, 599.99]
taxrate = 0.06

results = dict(zip(cid, map(lambda subtotal: tc(subtotal, taxrate), subtotals)))

print(f'Result: {results}')


#range method:

results = {}
for i in range(len(cid)):
    results[cid[i]] = tc(subtotals[i], taxrate)

print(f'Result: {results}')

Result: {'C00004': [15.98, 0.96, 16.94], 'C00007': [899.97, 54.0, 953.97], 'C00015': [799.97, 48.0, 847.97], 'C00016': [117.96, 7.08, 125.04], 'C00020': [5.99, 0.36, 6.35], 'C00010': [599.99, 36.0, 635.99]}
Result: {'C00004': [15.98, 0.96, 16.94], 'C00007': [899.97, 54.0, 953.97], 'C00015': [799.97, 48.0, 847.97], 'C00016': [117.96, 7.08, 125.04], 'C00020': [5.99, 0.36, 6.35], 'C00010': [599.99, 36.0, 635.99]}

In [103]:

#%%writefile tc_dynamic.py
# Step 2: Test the function,tc by passing in a value from the list, subtotals

from tc_dynamic import tc
taxrate = 0.06

result = tc(15.98, taxrate)

print(result)

[15.98, 0.96, 16.94]

In [104]:
# Step 3: Define another function, tdc, to build a dictionary via zip
# Pass in 3 arguements: cid, subtotals(the list from above) and taxrate
# For dictionary keys, use cid
# For dictionary values, use the function from step 1, tc(x,taxrate)


from tc_dynamic import tc

def tdc(cid, subtotals, taxrate):
    return {cust_id: tc(subtotal, taxrate) for cust_id, subtotal in zip(cid, subtotals)}

results = tdc(cid, subtotals, taxrate)

print(f'Result: {results}')

Result: {'C00004': [15.98, 0.96, 16.94], 'C00007': [899.97, 54.0, 953.97], 'C00015': [799.97, 48.0, 847.97], 'C00016': [117.96, 7.08, 125.04], 'C00020': [5.99, 0.36, 6.35], 'C00010': [599.99, 36.0, 635.99]}

In [105]:
# Alternative method for step 3: Comprehension with emumerate

tdc2 = {cid[i]: tc(subtotals[i], taxrate) for i, _ in enumerate(cid)}

print(f'Result: {tdc2}')

Result: {'C00004': [15.98, 0.96, 16.94], 'C00007': [899.97, 54.0, 953.97], 'C00015': [799.97, 48.0, 847.97], 'C00016': [117.96, 7.08, 125.04], 'C00020': [5.99, 0.36, 6.35], 'C00010': [599.99, 36.0, 635.99]}

In [106]:
# Step 4: A new set of calculations if the tax rate is increased to 0.1%
tdc(cid,subtotals,0.1)

{'C00004': [15.98, 1.6, 17.58],
 'C00007': [899.97, 90.0, 989.97],
 'C00015': [799.97, 80.0, 879.97],
 'C00016': [117.96, 11.8, 129.76],
 'C00020': [5.99, 0.6, 6.59],
 'C00010': [599.99, 60.0, 659.99]}

___